<meta charset="UTF-8">
<meta name="theme-color" content="#000" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<link rel="manifest" href="manifest.json" />
<!--ICON-->
<link rel="shortcut icon" href="favico.ico">
<!--FONT-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700, 900" rel="stylesheet" type="text/css">
<!--CSS-->
<link href="index.css" rel="stylesheet" type="text/css" />
<link href="videojs/videojs.css" rel="stylesheet" type="text/css" />
<!--TITLE-->
<title>.░C░.░P░.░8░.░.░.░P░.░A░.░4░.░I░.░O░.</title>