- var name = "Rokenroler"
- var cover = "covers/rokenroler.jpg";
- var url = "https://rts-live.morescreens.com/RTS_1_114/playlist.m3u8?id=RTS_1_114&video_id=961889&token=2d13afa5c044f5c473c7154ad0e6edb0e512aef2&authority_instance_id=spectar-prd-rts&profile_id=289305&application_installation_id=31859364&uuid=673ccd0296a8b9-69909234&subscriber_id=290850&application_id=web&detected_delivery_method=hls&playlist_template=nginx&ps=5620bff4ccb25f30ad7b1660215fb2f5fcd3e126798a1cf24f3ff0392e0e40446383a7ef94f56e4f4fd3c87205bd04177264cab93532795397cf29c05075a07a&vh=0973541adb4c15e88730d8c2026a53103698de0a577a7f36c5121b25ef5a5f3bd6a21f3ff4807d437c590d3481b8145275f58f5be8d8c0575ad0227c89e48143"

include #audio_player_template.pug