- var name = "RTS Dzhez"
- var cover = "covers/rtsdzhez.jpg";
- var url = "https://rts-live.morescreens.com/RTS_1_117/playlist.m3u8?id=RTS_1_117&video_id=4032529&token=2d13afa5c044f5c473c7154ad0e6edb0e512aef2&authority_instance_id=spectar-prd-rts&profile_id=289305&application_installation_id=31859364&uuid=673ccd0296a8b9-69909234&subscriber_id=290850&application_id=web&detected_delivery_method=hls&playlist_template=nginx&ps=ea70b16aff297d6a2db7b690a501a092a7e1653eff59dded176a265d8f1e908303987de9cb739eb08cb2908cfe67bbe8dc9dabdd1d8829f06c00356cabe52bb6&vh=ba22fb158f4c04019f480b595f8f66b074eaab8fd3c3ef0bb0c1f49305b0e58136648cda79a22556a617867237f7adb6296cce1b6cc9c818631a9106f4dccd7c"

include #audio_player_template.pug