doctype html
html(lang='en')
    head
        //- HEAD STUFF
        include base/head.pug
    body#body
        //- //BODY
        include page/layout.pug
        //- SCRIPTS
        include base/scripts.pug