div#radiolist
	div.list-of-radios
		//- include ../radios/naxi.pug
		include ../radios/rtb1.pug
		include ../radios/rtb2.pug
		include ../radios/rtb3.pug
		include ../radios/rtb202.pug
		include ../radios/rokenroler.pug
		include ../radios/rtsdzhez.pug
		include ../radios/rock.pug
		include ../radios/play.pug
		include ../radios/naxi80.pug
		include ../radios/fresh.pug		
		include ../radios/naxicafe.pug
		include ../radios/karolina.pug
		include ../radios/evergreen.pug
		include ../radios/dance.pug
		include ../radios/jat.pug
		include ../radios/pingvin.pug
		include ../radios/love.pug
		include ../radios/scafe.pug
		include ../radios/srock.pug
		include ../radios/021.pug
		include ../radios/classics.pug
		include ../radios/nostalgie.pug
		include ../radios/asfm.pug
		include ../radios/naxirock.pug
		include ../radios/laguna.pug
		include ../radios/topfm.pug
		include ../radios/signal.pug
		include ../radios/party.pug
		include ../radios/playrock.pug
		include ../radios/playsoft.pug
		include ../radios/tdi.pug
		include ../radios/red.pug
		include ../radios/s80.pug
		include ../radios/easy.pug
		include ../radios/mix.pug
		include ../radios/superfm.pug
		include ../radios/prvi.pug
		include ../radios/2000s.pug
		include ../radios/urban.pug
		include ../radios/tarantula.pug
		include ../radios/studiob.pug
		include ../radios/101.pug
		include ../radios/wuvt.pug
		include ../radios/plaza.pug
		include ../radios/soma.pug
		include ../radios/808.pug
		include ../radios/bnm.pug
		include ../radios/tvornica.pug
		include ../radios/korzo.pug
		include ../radios/tranzistor.pug
		include ../radios/antena.pug
		include ../radios/fals.pug
		include ../radios/jrradio.pug
		include ../radios/yammat.pug