div#sidebar
	div.sidebar-top
		side-title INFORMATION
		ul.info-list
			li 
				i ⌂
				span News
			li 
				i ↑
				span Billboard
			li 
				i ♪
				span Concerts
			li 
				i(style="font-size: 12px;line-height: 1.75;") ☼
				span Weather
	div.sidebar-bottom
		a#email-button(href="mailto:notbigmuzzy@gmail.com")
			span CONTACT