.container {
	padding: 2rem;
	font-family: sans-serif;
	max-width: 600px;
	margin: 0 auto;
}

.title {
	.phase {
		font-size: 0.6em;
		color: #666;
	}
}

.statusBar {
	margin-bottom: 2rem;
	padding: 1rem;
	border: 1px solid #333;
	border-radius: 8px;

	.statusText {
		&.playing {
			color: green;
		}

		&.paused {
			color: orange;
		}
	}
}

.controls {
	display: flex;
	gap: 1rem;
	margin-bottom: 2rem;
}

.playButton {
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}
}

.volumeControl {
	display: flex;
	flex-direction: column;
}

.trackList {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.trackButton {
	padding: 10px;
	text-align: left;
	border: 1px solid #ccc;
	color: black;
	cursor: pointer;
	background: #f9f9f9;

	&:hover {
		background-color: #eee;
	}

	&.active {
		background: #ddd;
	}
}

.stationList {
	display: flex;
	flex-direction: column;
	gap: 10px;
}